<div class="header">

    <div class="company-info">
      <img class="company-icon" src="images/icon.png">
      <img class="company-name" src="images/company-name.png">
    </div>
    <!-- end header -->
    </div>
    
    <div class="navbar">
    <div class="nav-info">
      <a id="index" href="index.html">Games</a>
      <a id="gallery" href="gallery.html">Gallery</a>
      <a id="about" href="about.html">About</a>
      <a href="https://store.steampowered.com/news/?appids=651940" target="_blank">Blog</a>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
          var fileName = location.href.split("/").slice(-1); 
          console.log(fileName);
          var link = Document.getElementById(fileName);
          link.classList.add("current-page");
        });
    </script>
</div>