<div class="header">

    <div class="company-info">
      <img class="company-icon" src="images/icon.png">
      <img class="company-name" src="images/company-name.png">
    </div>
    <!-- end header -->
    </div>
    
    <div class="navbar">
    <div class="nav-info">
      <a class="current-page" href="index.html">Games</a>
      <a href="gallery.html">Gallery</a>
      <a href="about.html">About</a>
      <a href="https://store.steampowered.com/news/?appids=651940" target="_blank">Blog</a>
      <!--<a href="contact.html">Contact</a>-->
    </div>

</div>